
.speaker-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  min-height: 400px;
  margin: 20px auto;
}

.speaker-popup img {
    max-width: 150px;
    float: left;
    margin: 10px 10px 10px 0;

}
