<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .Title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <link href="css/mlconf.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ .Site.Title }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#speakers">Speakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#program">Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#venue">Venue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#past">Past Speakers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
                <strong>{{ replace .Params.mastheadFirst "\n" "<br/>" | safeHTML }}</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">{{.Params.mastheadSecond | safeHTML }}</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">{{ .Params.introHead }}</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4 lead">{{ .Params.intro }}</p>
          </div>
        </div>
        <div class="row">
          {{ range .Params.highlights }}
          <div class="col-lg-4 col-md-6 text-center text-white">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-{{.icon}} mb-3 sr-icons"></i>
              <h3 class="mb-3">{{.heading}}</h3>
              <p class="text-faded mb-0">{{.body}}</p>
            </div>
          </div>
          {{ end }}
        </div>

      </div>
    </section>

    <section id="speakers">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Speakers</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
            {{ range .Site.Data.speakers }}
            <div class="col-lg-4">
              <img src="{{ .image }}" class="headshot" alt="Headshot of {{.name}}" />
                <h3 class="mb-3">{{ .name }}</h3>
            </div>
            {{ end }}
        </div>
      </div>
    </section>

    <section id="program" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Program</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-lg-12">
          <table class="table">
            <tbody>
              {{ range .Site.Data.schedule }}
              <tr><td>{{ .time }}</td><td>{{ .description }}</td></tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sponsors</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          {{ range .Site.Data.sponsors }}
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a href="{{.url}}" class="align-middle">
              <img class="sponsor img-fluid align-middle" alt="{{.name}}" src="{{.logo}}" />
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section id="venue" class="bg-primary text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Venue</h2>
            <hr class="light my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>The ML Ensemble will take place in the beautiful Kensington Market offices of <a class="text-light" href="https://normative.com">Normative</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.636784405907!2d-79.40576898496555!3d43.65572467912119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34e8e5875a95%3A0xcbde20f3327844da!2sNormative+Inc.!5e0!3m2!1sen!2sca!4v1520968463913" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-map mb-3 sr-icons"></i>
              <p class="text-faded mb-0">
              91 Oxford Street, Suite #200<br/>
              Toronto, Ontario<br/>
              M5T 1P2<br/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="register" class="bg-dark text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Register</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row text-center">
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5 lead">Don't have the password? Reach out to info@mlensemble.com and tell us about yourself</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.eventbrite.ca/e/ml-ensemble-2018-tickets-40863306249">Register now</a>
          </div>
        </div>
      </div>
    </section>


    <section id="past">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Past speakers</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          {{ range .Site.Data.pastspeakers }}
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <h4>{{.name}}</h4>
            <p class="small mb-0">{{.title}}</p>
            <p class="small text-muted mb-0"><em>{{.org}}</em></p>
            <p class="small text-muted mb-0">{{.year}}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section id="foot" class="bg-dark text-white">
      <div class="container">
        <div class="row small">
          <div class="col-lg-4 col-lg-3">
            <h2 class="section-heading">ML Ensemble</h2>
            <hr class="my-4">
            <p>
            ML Ensemble is organized by Leila Boujnane, Inmar Givoni, Xavier Snelgrove, and Sandy Ward.
            </p>
            <p>Questions? info@mlensemble.com</p>

            <p>Header photo <a href="https://www.flickr.com/photos/zeissmicro/24327909026">ZEISS Microscopy</a></p>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
